whateverproject/
CHANGELOG.md
.DS_Store
.gitignore
.DS_Store

philo/
philosophers
.devcontainer/.ssh
.devcontainer/.ssh.pub

Bear-3.1.3.zip

.devcontainer/Bear-3.1.3/
build
.cache
private/
modern-cpp-template*
